<div class="container">
    <h2>Anime List</h2>
    <div class="row">
      <div class="col-md-4" *ngFor="let anime of animes">
        <div class="card mb-4">
          <img [src]="anime.img" class="card-img-top" alt="{{ anime.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ anime.name }}</h5>
            <p class="card-text">Rating: {{ anime.rating }} ⭐</p>
            <p class="card-text">Category: {{ anime.category }}</p>
            <button class="btn btn-primary" (click)="anime">More Information</button>
            
          </div>
        </div>
      </div>
    </div>
    <p>Average Rating: {{ averageRating.toFixed(2)}}</p>
    <p>Total Episodes: {{ totalEpisodes}}</p>
  </div>
  